{% extends 'bootstrap/base.html' %}

{% block title %}Café y Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">☕️ Café y Wifi 💻</h1>
  <p class="lead">¿Quieres trabajar en un café pero necesitas corriente y wifi?</p>
  <hr class="my-4">
  <p>¡Has encontrado el lugar perfecto! Cmomprueba mi colección de cafés con datos sobre disponibilidad de enchufes eléctricos, velocidad wifi y calidad del café.</p>
  <a class="btn btn-warning btn-lg" href="#" role="button">¡Muestrame!</a>
</div>
    </div>

{% endblock %}
